<h1>All contacts</h1>

<% @contacts.each do |contact| %>
  <h3>Name: <%= contact.first_name + " " + contact.last_name %></h3>
  <h3>Email: <%= contact.email %></h3>
  <h3>Phone Number: <%= contact.phone_number %></h3>
  <br>
<% end %>